<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/vendors.bundle.js"
></script>
<script
  type="text/javascript"
  src="{{ site.baseurl }}/manifest.bundle.js"
></script>
<script type="text/javascript" src="{{ site.baseurl }}/main.bundle.js"></script>
