<div class="ticker-wrapper">
  <div class="ticker">
    <div class="ticker-list">
      {% for item in include.list %}
      <div class="ticker-item">
        {% if item.href %}
        <a href="{{ item.href }}" target="_blank">
          {% if item.imgPath %}
          <img src="{{ item.imgPath }}" />
          {% endif %}
        </a>
        {% else %}
        <span class="{{ item.className }}">{{ item.text }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
