.hhs-footer {
  margin-top: 20px;
  min-height: $footerMinHeight;
  width: 100%;
  padding: 10px 0;
  background-color: $footerColor;

  .footer-container {
    height: 100%;

    .footer-row {
      height: 100%;

      .social-media-container {
        position: relative;
        top: 5px;
      }

      .footer-column {
        height: 100%;

        &:nth-child(2) {
          > div {
            margin-top: 16px;
            margin-bottom: 16px;
          }
          span {
            margin-left: 2px;
          }
        }

        &:last-child {
          span {
            margin-left: 6px;
          }
        }

        .footer-column-stacked,
        .footer-column-stacked-reverse {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .footer-column-stacked-reverse {
          flex-direction: row-reverse;
        }

        img.footer-image {
          height: 100%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .hhs-footer {
    .footer-container {
      .footer-row {
        .footer-column {
          &:first-child {
            text-align: left;
          }

          &:nth-child(2) {
            > div {
              margin-top: inherit;
              margin-bottom: inherit;
            }
          }

          &:last-child {
            text-align: right;

            span {
              margin-left: initial;
              margin-right: 6px;
            }
          }
          .footer-column-stacked,
          .footer-column-stacked-reverse {
            display: block;
            align-items: initial;
            flex-direction: initial;
          }
        }
      }
    }
  }
}
