.nav-link {
  font-size: 0.9931rem;
}
#navbar-primary {
  align-self: flex-end;
}
.hhs-upper-nav {
  /* to used fixed positioning, need to push top of everything else down by $upperNavHeight */
  /*position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	*/
  width: 100%;
  height: $upperNavHeight;
  padding: 10px 0;
  background-color: $upperNavColor;

  .upper-nav-container {
    height: 100%;

    .upper-nav-row {
      height: 100%;

      .upper-nav-column {
        height: 100%;

        img.upper-nav-image {
          height: 100%;
        }
      }
    }
  }
}
.hhs-bg-white {
  background-color: white;
}
.hhs-background {
  background-color: $backgroundBody;
}
.hhs-navbar-shadow {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.gold {
  background-color: $hastingsGold;
}
#hhs-code-input {
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 26px;
}
.hhs-btn-default {
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  border-radius: 0;
  background-color: $hastingsBlue !important;
  color: white !important;
}
.hhs-btn-default:hover {
  background-color: #6e7a83 !important;
}

.nav-item {
  border-bottom: 2px solid transparent;
}
.nav-item-active {
  border-bottom: 2px solid #0053a0;
}
main.content {
  min-height: 800px;
}
.primary-sections {
  margin-top: 10px;
}
.primary-sections a.nav-rectangle {
  text-decoration: none;
  color: black;
  display: block;
  height: 160px;
  transition: 0.25s all;
  margin-bottom: 10px;
}
.primary-sections a.nav-rectangle:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.primary-sections h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 8px;
}
.primary-sections a.nav-rectangle > div.col-xs-4 {
  padding-left: 0;
}
.primary-sections a.nav-rectangle > div.col-xs-8 {
  padding-right: 0;
}
.photo {
  position: relative;
  overflow: hidden;
}
.photo > div {
  /*width: 100%;*/
  height: 160px;
}
.photo > div > img {
  width: 100%;
}
.photo .details {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  top: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  line-height: 20px;
  transition: top 0.5s;
}
.photo:hover .details {
  top: 0;
}

.photo .details h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 575px) {
  #logo {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .hhs-navbar-nav {
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .hhs-navbar-default {
    border-radius: 0;
  }
}
/***** Utility Classes ******/

.mt0 {
  margin-top: 0;
}
.mt8 {
  margin-top: 8px;
}
.mb0 {
  margin-bottom: 0;
}
.mb8 {
  margin-bottom: 8px;
}
.pt0 {
  padding-top: 0;
}
.pb0 {
  padding-bottom: 0;
}
/***** Fullcalendar Classes *****/
.fc-day-grid-event > .fc-content {
  white-space: normal;
}

dl.event-list > dt {
  margin-top: 18px;
}

dl.event-list > dd {
  margin-bottom: 0;
}

.breadcrumb {
  background-color: transparent;
}

p.ensembles {
  margin-bottom: 0.25rem;
}

div.director-bio {
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  figure.director-photo {
    text-align: center;
  }
}

iframe.google-calendar {
  width: 100%;
}

iframe.google-calendar body {
  background-color: transparent;
}

.non-eventsidebar {
  margin-top: 16px;
  text-align: left;
}
.eventsidebar {
  padding-left: 0;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 540px) {
  .eventsidebar {
    padding-right: 0;
  }
}

.boostersidebar {
  padding-left: 0;
}
.modal-dialog-scrollable {
  .modal-content {
    max-height: 75vh;
    .modal-body {
      overflow-y: auto;
    }
  }
}
#minutes-modal {
  .modal-body {
    column-count: 2;
  }
}
.eventsidebar-heading {
  background-color: #292b2c;
  color: white;
}

span.news-item-summary {
  font-weight: 600;
}

li.news-item {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

div#upcomingevents {
  overflow: hidden;
  height: 100%;
  padding: 0 15px;
  background-color: $tickerGray;
	margin-bottom: 10px;
}

div.upcoming-events-short {
	height: 340px !important;
}

ul#events-list {
  padding-left: 0;
  list-style: none;

  > li {
    display: block;
    color: white;
  }
}

div#upcoming-events-header {
  color: white;
  background-color: $hastingsBlue;
  padding: 6px;
}
