// WAS EXPERIMENTING - DO NOT USE
//
//@import './variables';
//
//$upperNavHeight: 40px;
//$primaryNavHeight: 88px;
//$primaryNavHeightMobile: 55.6px;
//
//.hhs-upper-nav {
//  position: fixed;
//  top: 0;
//  left: 0;
//  height: $upperNavHeight;
//  width: 100%;
//  background-color: $upperNavColor;
//  z-index: 1;
//}
//
//.hhs-navbar {
//  height: $primaryNavHeight;
//  position: fixed;
//  top: $upperNavHeight;
//  left: 0;
//  width: 100%;
//}
//
//.primary-sections {
//  margin-top: $upperNavHeight + $primaryNavHeight + 10px;
//}
//
//@media (max-width: 576px) {
//  .hhs-upper-nav {
//    position: initial;
//    height: initial;
//    width: initial;
//  }
//
//  .hhs-navbar {
//    height: $primaryNavHeightMobile;
//    position: initial;
//  }
//
//  .hhs-band-logo {
//    position: absolute;
//    right: 0;
//    text-align: right;
//  }
//
//  .primary-sections {
//    margin-top: $upperNavHeight + $primaryNavHeightMobile + 10px;
//  }
//}
