@import "./bootstrap.scss";

#back-to-band {
  color: white;
  text-decoration: underline;
  transition: color 0.1s linear;

  &:hover {
    color: rgba(255, 255, 255, 0.91);
  }
}

.upper-nav-divider {
  position: relative;
  top: -3px;
  color: white;
}

.hhs-band-logo {
  text-align: right;
  margin-right: 0;
}

@media (min-width: 576px) {
  .hhs-band-logo {
    margin-right: 1rem;
  }
}
