.ticker-wrapper {
  overflow: hidden;

  .ticker {
    display: flex;
    position: relative;
    height: 125px;

    .ticker-list {
      display: flex;
      margin-top: 20px;
      animation: ticker 25s infinite linear; // Increase or decrease this duration to slow down / speed up the ticker.

      .ticker-item {
        margin-right: 20px;

        img {
          height: 100%;
        }
      }
    }

    &:hover {
      .ticker-list {
        animation-play-state: paused;
      }
    }
  }
}

@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}
