.parent {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  text-align: center;
  z-index: 30;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  &:after {
    background: black;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 10;
  }
}

.centered-child {
  position: relative;
  z-index: 20;
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.video-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}