---
title: Boosters
---

<div class="container primary-sections" data-page="boosters">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Hastings Bands
        </a>
      </li>
      <li class="breadcrumb-item active">Boosters</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <div>
          <h4 class="mb-2">The Hastings Band Boosters</h4>
          <p class="font-italic">
            Offering continued support of the Hastings School Band Program
          </p>
          <hr />
          <div class="list-misc">
            <h6>The Purpose of Band Boosters</h6>
            <ul>
              <li>To promote the Hastings School Band programs</li>
              <li>
                To cooperate with the band directors and administrators at
                Hastings Schools
              </li>
              <li>To assure the success and growth of all band programs</li>
              <li>
                To encourage and make possible educational trips, exchange
                programs and concerts that are sanctioned and approved by the
                school
              </li>
              <li>To actively support all phases of fundraising</li>
            </ul>
            <h6>Membership of Band Boosters</h6>
            <ul>
              <li>
                All parents of band students and any persons interested in the
                progress and development of the band programs at Hastings
                Schools
              </li>
            </ul>
            <h6>Band Boosters Funding Support *</h6>
            <ul>
              <li>
                $52,309 to student accounts from Booster sponsored fundraisers
              </li>
              <li>$5,350 for students to participate in band festivals</li>
              <li>$4,842 in instrument purchases</li>
              <li>
                $2,590 for guest artists (5th &amp; 6th Grade through High
                School)
              </li>
              <li>$2,150 in scholarships (All-State &amp; Marching Band)</li>
              <li>$1,976 to cover transportation costs</li>
              <li>$1,000 in Leadership scholarships</li>
              <li style="list-style:none;">* 2012-2017</li>
            </ul>
            <h6>Band Booster Volunteer Opportunities</h6>
            <ul>
              <li>Chaperone events and trips</li>
              <li>
                Assist with uniforms and concert dress fittings and alterations
              </li>
              <li>Assist with fundraising projects</li>
              <li>Usher concerts</li>
              <li>Assist directors as needed</li>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <div class="boostersidebar col-sm-4">
      <div class="eventsidebar">
        <div id="upcoming-events-header">Upcoming Meetings & Events</div>
        
        <div id="upcomingevents" class="upcoming-events-short" data-calendars='["boosters"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>                
        <!-- PREVIOUSLY <div id="upcomingevents" data-calendars='["boosters"]' data-slide-items="3">  -->
      </div>
      <div class="non-eventsidebar">
        <h5>Meeting Minutes</h5>        
        <ol class="list-unstyled">
          {% for item in site.data.minutes limit: 5 %}
          <li>
            <a
                href="{{ site.url }}{{ site.baseurl }}/assets/documents/boosters/minutes/{{ item.path }}"
                target="_blank"
            >
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ol>
      </div>     
      <!-- Button to Open the Modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#minutes-modal"
      >
        View All
      </button>
      <div class="non-eventsidebar">
        <h5>Documents</h5>
        <ol class="list-unstyled">
          <li>
            <a
              href="{{ site.baseurl }}/assets/documents/boosters/2015 Booster by-laws.pdf"
              target="_blank"
            >
              By-laws
            </a>
            <span class="small font-italic">&nbsp;(rev. 2015)</span>
          </li>
          <li>
            <a
              href="{{ site.baseurl }}/assets/documents/boosters/Boosters Grant Funds Request.pdf"
              target="_blank"
            >
              Grant Request Form
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="minutes-modal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Booster Meeting Minutes</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <ol class="list-unstyled">
          {% for file in site.data.minutes %}
          <li>
            <a
              href="{{ site.url }}{{ site.baseurl }}/assets/documents/boosters/minutes/{{ file.path }}"
              target="_blank"
            >
              {{ file.name }}
            </a>
          </li>
          {% endfor %}
         
        </ol>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
