---
title: Marching Band Calendar
---

<div class="container primary-sections" data-page="calendar">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Marching Band
        </a>
      </li>
      <li class="breadcrumb-item active">Calendar</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>Marching Band Calendar</h4>
        <span class="font-italic"
        >Get a printable rehearsal &amp; performance schedule from the <a href="{{ site.baseurl }}/documents/">Documents</a> page.</span
        >
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <iframe
              src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kerh89jlutp69uq2mike7h5og8%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=America%2FChicago"
              style="border-width:0"
              width="100%"
              height="600"
              frameborder="0"
              scrolling="no"
      ></iframe>
    </div>
  </div>
</div>
