---
title: About High School Band
---

<div class="container primary-sections" data-page="abouthsband">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">High School Band</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <img
                class="img-fluid mb-2"
                src="{{ site.baseurl }}/assets/images/slide-placeholder.png"
                alt="Placeholder"
        />
        <h2>Announcements</h2>
        <!-- WE Auditions -->
        <!--<p>
          2018/2019 Wind Ensemble Auditions will take place April 11th to
          April 17th. All current 9th through 11th grade HHS band students
          are eligible and encouraged to audition. Any student who wishes to
          be a member of the 2018/2019 Wind Ensemble must audition during
          this time period, including all current Wind Ensemble members. See
          the
          <a
            href="{{ site.baseurl }}/high-school/bands#wind"
            target="_self"
          >
            Wind Ensemble
          </a>
          page for information and audition music
        </p>-->
        <!-- Pep Band -->
        <!--<p
          Pep band schedule can be found on the
          <a href="{{ site.baseurl }}/high-school/bands#pep" target="_self">
            Pep Band
          </a>
          page
        </p>-->
        <!-- Tour -->
        <!--<p>
          <a href="{{ site.baseurl }}/high-school/tour" target="_self">
            Spring break 2018 tour
          </a>
          has been announced
        </p>-->
        <!-- Jazz Auditions -->
        <p>Jazz auditions will be held after school Sept. 19, 20 & 21st. See the
          <a
                  href="{{ site.baseurl }}/high-school/bands#jazz"
                  target="_self"
          >
            Jazz Ensemble
          </a>
          page for details</p>
        <p>Daily assignments can be found on
          <a href="https://www.schoology.com/" target="_blank">
            Schoology
          </a></p>
        <hr />
        <h4>The Hastings High School Bands</h4>
        <p>
          The Hastings Senior High School Band Program's curricular offerings
          include Varsity Band, Concert Band and Wind Ensemble. The Varsity
          Band rehearses every other day for 45 minutes and includes 9th grade
          students who also participate in choir on the opposite days. The
          Concert Band (<em>a non-auditioned group</em>) meets every day for
          45 minutes and includes students in grades 9-12. The Wind Ensemble
          (<em>by audition only</em>) enrolls select 10-12th grade
          instrumentalists. All band students at HHS receive a 15 minute
          private lesson every two weeks.
        </p>
        <p>
          Co-curricular band offerings include Jazz I, Jazz II, Marching Band,
          Pep Band and various Chamber Ensembles. Other performance
          opportunities include Orchestra Winds and Percussion, Show Choir
          Winds and Percussion, Musical Pit Orchestra, solos and ensembles,
          annual music festivals and a triennial Spring Break music
          performance tour.
        </p>
        <p>
          The Band Program at Hastings High School combines with exemplary
          orchestra and choral programs to form a comprehensive music
          department. Combined, the music department boasts a growing
          enrollment of over 600 students. The bands at Hastings High School
          are under the direction of Jim Jacobsen and Claire Nalven.
        </p>
      </main>
    </div>
    <div class="eventsidebar col-sm-4">
      <div id="upcoming-events-header">Upcoming Events</div>
      <div id="upcomingevents" class="upcoming-events-short" data-calendars='["events"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>

      <a class="nav-rectangle lightbox" href="#" data-url="{{ site.data.videos.recruitment-video }}">
        <div class="photo">
          <div id="video-gallery">
            <img
                    src="{{ site.baseurl }}/assets/graphics/menus/video_540x170.png"
            />
            <div class="details">
              <h3>Recruiting Video</h3>
              <p>View the video</p>
            </div>
          </div>
        </div>
      </a>
      <a class="nav-rectangle" href="{{ site.baseurl }}/tour/">
        <div class="photo">
          <div>
            <img
                    src="{{ site.baseurl }}/assets/graphics/menus/show_history_540x150.png"
            />
            <div class="details">
              <h3>Upcoming Tour</h3>
              <p>View photos and information for upcoming band tour</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% include video-lightbox.html %}
