---
title: Marching Band Staff
---

<div class="container primary-sections" data-page="contact">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Marching Band
        </a>
      </li>
      <li class="breadcrumb-item active">Our Staff</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>Marching Band Staff</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Emily Chandler</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/Chandler.jpg"
                width="170"
                height="227"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles"><em>Marching Band Director</em></p>
          <a href="mailto:echandler@seas-school.org">
            echandler@seas-school.org
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Mrs. Chandler</strong> has been directing the Raiders Marching
      Band for 19 years. Emily holds a degree with honors from Winona State
      University and a Masters of Education with honors from Saint Mary’s
      University. Leading two bands grades 5-8, Emily is the founder and
      director of the band program at St. Elizabeth Ann Seton. In addition to
      teaching K-5 Classroom Music, she teaches K-8 Liturgical music. Also for
      SEAS school, Emily enjoys coaching Volleyball and Softball. As an active
      member of MBDA (Minnesota Band Director’s Association), Emily has held
      multiple leadership roles in the Southeast Honor Band Program, including
      coordinator, guest conductor, and clinician.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Thomas Wentzler</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/Wentzler.jpg"
                width="170"
                height="227"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles"><em>Marching Band Director</em></p>
          <!--<a href="mailto:echandler@seas-school.org">
                        echandler@seas-school.org
                    </a>-->
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Mr. Wentzler</strong> has been co-directing the Raiders Marching
      band for 14 years. Thomas holds a degree from Winona State University and
      is pursuing his Masters degree from VanderCook College of Music. As an
      instrumental music educator, Thomas Wentzler has the privilege of teaching
      students in Red Wing School District. In the middle school, Thomas teaches
      the beginning bands, the beginning jazz ensemble, and weekly lessons. In
      the high school, he co-directs the pep band, jazz 2, the solo/ensemble
      program, and is responsible for all instrumental lessons grades 8-12.
      Prior to teaching in Red Wing, Thomas was a band director in Lake City,
      MN. Thomas is active throughout Southeast Minnesota as an adjudicator,
      clinician, and high brass performer. He currently performs cornet with the
      Sheldon Theater Brass Band.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Josh Wahlstrom</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/Wahlstrom.jpg"
                width="170"
                height="227"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles"><em>Marching Band Percussion Director</em></p>
          <a href="mailto:joshwahlstrom@gmail.com">
            joshwahlstrom@gmail.com
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Mr. Wahlstrom</strong> is currently in his 11th year as percussion
      director/arranger for the Hastings High School Marching Band in Hastings,
      MN. Josh also directs the Hastings High School Percussion Ensemble and
      Hastings Middle School Percussion Ensemble, teaches private percussion
      lessons, and freelances on percussion/drum set throughout the Twin Cities.
      Josh graduated from Gustavus Adolphus College. During his time at
      Gustavus, he was a principal percussionist in the Gustavus Wind Orchestra
      and a member of the Gustavus Jazz Lab Band, Gustavus Percussion Ensemble,
      and the Gustavus Symphony Orchestra while studying with Douglas Nimmo,
      Steve Wright, and Bob Adney. In addition, Josh taught the Eagan High
      School Winter Drumline (2010-2015), the Rosemount High School Winds
      (2017), and the River City Rhythm Indoor Drumline (2016-2018). Outside of
      teaching and performing, Josh works for US Bancorp Investments, Inc. in
      St. Paul, MN.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Grace Bauer</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/GBauer.jpg"
                width="170"
                height="227"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles"><em>Marching Band Colorguard Instructor</em></p>
          <a href="mailto:graycbauer@gmail.com">
            graycbauer@gmail.com
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      This is <strong>Ms. Bauer's</strong> first year working with the Raiders
      Marching Band's Colorguard. Grace is currently attending Hamline
      University, in Saint Paul, MN, pursuing a Bachelor's degree in Digital
      Media Arts and Communications. Throughout her adolescence, Grace
      participated in a variety of dance-based and theatrical activities,
      including colorguard- of which she was the captain during her junior and
      senior year. At Hamline, Grace was briefly a member of the audition-only
      Dance Ensemble, and she also held the highly sought after position of New
      Student Mentor (orientation leader). Outside of all that, Grace is a
      fitness enthusiast and in the process of becoming a Zumba instructor.
    </div>
  </div>
</div>
