<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/main.css" />
  </head>
  <body class="hhs-background">
    <div id="pjax-content">
      {% include nav.html %} {{ content }} {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>
