---
title: Marching Band Fundraising
---

<div class="container primary-sections" data-page="fundraising">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Marching Band</a>
            </li>
            <li class="breadcrumb-item active">Fundraising</li>
        </ol>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div>
                <h4>Thank you to our 2019 Hastings Marching Band Corporate Sponsors!</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- Use this syntax to add a ticker. See _data/uniform-sponsors.yml for how this is laid out. -->
            <!-- Files used: _data/uniform-sponsors.yml, _includes/ticker.html, _assets/styles/ticker.scss -->
            <!-- Begin ticker -->
            {% include ticker.html list=site.data.uniform-sponsors.ticker-list %}
            <!-- End ticker -->
        </div>
    </div>
</div>
