<footer class="hhs-footer">
  <div class="container footer-container">
    <div class="row footer-row">
      <div class="col-12 col-lg-2 order-lg-2 footer-column text-center">
        <div class="social-media-container">
          <a
            href="https://www.facebook.com/HastingsBandsMinnesota/"
            title="Hastings Bands on Facebook"
            target="_blank"
            ><i class="fab fa-fw fa-2x fa-facebook"></i
          ></a>
          <a
            href="https://www.instagram.com/hastingsmnbands/"
            title="Hastings Bands on Instagram"
            target="_blank"
            ><i class="fab fa-fw fa-2x fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="col-12 col-lg-5 order-lg-1 footer-column">
        <div class="footer-column-stacked">
          <a
            href="http://www.hastingsbands.org/"
            title="Hastings School Bands"
            target="_blank"
            ><img
              class="img-fluid footer-image"
              src="{{ site.baseurl }}/assets/graphics/hastings-bands-logo-40.png"
              alt="HB Logo"
          /></a><span>©2019 Hastings School Bands</span>
        </div>
      </div>
      <div class="col-12 col-lg-5 order-lg-3 footer-column">
        <div class="footer-column-stacked-reverse">
          <span>Hastings Public Schools, Hastings, MN</span
          ><a
            href="http://www.hastings.k12.mn.us/"
            title="Hastings Public Schools"
            target="_blank"
            ><img
              class="img-fluid footer-image"
              src="{{ site.baseurl }}/assets/graphics/bridge-words-transparent-40.png"
              alt="ISD200 Logo"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
