<!-- band nav -->
 <div class="hhs-upper-nav">
  <div class="container upper-nav-container">
    <div class="row upper-nav-row">    
      <div class="col-12 col-md-8 col-lg-9 upper-nav-column text-right">
        <a
          href="https://www.accountlinkonline.com/member/"
          data-toggle="tooltip"
          title="Check account balance"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 mr-3"
            src="{{ site.baseurl }}/assets/graphics/logos/ALO3.png"
            alt="ALO Logo"/></a
        ><span class="upper-nav-divider">|</span
        ><a
          href="https://parent.payschools.com/categories.asp?id=A307E027443D4719AE9D5ED265D5682A&"
          data-toggle="tooltip"
          title="Make fee payment"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 mx-3"
            src="{{ site.baseurl }}/assets/graphics/logos/payschools.png"
            alt="PaySchools Logo"/></a
        ><span class="upper-nav-divider">|</span
        ><a
          href="https://hastings.schoology.com/login?&school=230026"
          data-toggle="tooltip"
          title="Get secure documents"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 ml-3"
            src="{{ site.baseurl }}/assets/graphics/logos/schoology.png"
            alt="Schoology Logo"
        /></a>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-md navbar-light hhs-bg-white hhs-navbar-shadow"
>
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-primary"
      aria-controls="navbar-primary"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand hhs-band-logo" href="{{ site.baseurl }}/">
      <img
        id="logo"
        src="{{ site.baseurl }}/assets/graphics/Hastings-Bands-Blue-Logo-Cropped.png"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <span id="aboutband">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/">
              About Band
            </a>
          </li>
        </span>
        <span id="highschool">
          <li class="nav-item">
            <a class="nav-link" href="http://highschool.demo.hastingsbands.org">
              High School
            </a>
            <!--<a class="nav-link" href="http://highschool.hastingsbands.org">
              High School
            </a>-->
          </li>
        </span>               
        <span id="middleschool">
          <li class="nav-item">
            <a class="nav-link" href="http://middleschool.demo.hastingsbands.org">
              Middle School
            </a>
            <!--<a class="nav-link" href="http://middleschool.hastingsbands.org">
              Middle School
            </a>-->
          </li>
        </span>
        <span id="marching">
          <li class="nav-item">
            <a class="nav-link" href="http://marching.demo.hastingsbands.org">
              Marching
            </a>
            <!--<a class="nav-link" href="http://marching.hastingsbands.org">
              Marching
            </a>-->
          </li>
        </span>
        <span id="fundraising">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="{{ site.baseurl }}/fundraising/">
              Fundraising
            </a>
          </li>
          <li class="nav-item dropdown d-lg-none">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Fundraising
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/fundraising/">
                Home
              </a>
              <a class="dropdown-item" href="#">
                One
              </a>
              <a class="dropdown-item" href="#">
                Two
              </a>
              <a class="dropdown-item" href="#">
                Three
              </a>
            </div>
          </li>
        </span>
        <span id="boosters">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/boosters/">
              Boosters
            </a>
          </li>
        </span>
      </ul>
    </div>
  </div>
</nav>
