---
title: Midddle School Band Calendar
---

<div class="container primary-sections" data-page="calendar">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Middle School Band
        </a>
      </li>      
      <li class="breadcrumb-item active">Calendar</li>
    </ol>
  </div>  
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>Middle School Band Calendar</h4>
        <span class="font-italic"
			  >Get a printable performance schedule from the <a href="{{ site.baseurl }}/documents/">Documents</a> page.</span
        >
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <iframe
        src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tttqah97hpn0rq07m1nf9po1to%40group.calendar.google.com&amp;color=%236B3304&amp;src=lqup8e65gb56ee9h3cj2bln71c%40group.calendar.google.com&amp;color=%23125A12&amp;src=n26pfql7419eji4hpq85f94uag%40group.calendar.google.com&amp;color=%23865A5A&amp;src=kerh89jlutp69uq2mike7h5og8%40group.calendar.google.com&amp;color=%238D6F47&amp;src=g91t5cecs0oiulpmt2lt73ssec%40group.calendar.google.com&amp;color=%232F6309&amp;src=rma153g34jd6ebl8o79kack9ng%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FChicago"
        style="border-width:0"
        width="100%"
        height="600"
        frameborder="0"
        scrolling="no"
      ></iframe>
    </div>
  </div>
</div>


<!-- GOOGLE INFO



HHS Band Events/Concerts: cid=tttqah97hpn0rq07m1nf9po1to%40group.calendar.google.com&amp;color=%236B3304
Jazz 1: cid=lqup8e65gb56ee9h3cj2bln71c%40group.calendar.google.com&amp;color=%23125A12
Jazz 2: cid=n26pfql7419eji4hpq85f94uag%40group.calendar.google.com&amp;color=%23865A5A            
Marching Band: cid=kerh89jlutp69uq2mike7h5og8%40group.calendar.google.com&amp;color=%238D6F47
Pep Band: cid=g91t5cecs0oiulpmt2lt73ssec%40group.calendar.google.com&amp;color=%232F6309
Percussion Ensemble: cid=rma153g34jd6ebl8o79kack9ng%40group.calendar.google.com&amp;color=%23875509

HHS Music Concerts (has show choir as well): cid=dstp8l1en5prgfrndacqkd2bg8%40group.calendar.google.com&amp;color=%23f8310b
 
MISC

No Title: showTitle=0
Default to Agenda view: mode=AGENDA
No Print tab: showPrint=0

DEFAULT
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tttqah97hpn0rq07m1nf9po1to%40group.calendar.google.com&amp;color=%236B3304&amp;src=dstp8l1en5prgfrndacqkd2bg8%40group.calendar.google.com&amp;color=%23f8310b&amp;src=lqup8e65gb56ee9h3cj2bln71c%40group.calendar.google.com&amp;color=%23125A12&amp;src=n26pfql7419eji4hpq85f94uag%40group.calendar.google.com&amp;color=%23865A5A&amp;src=kerh89jlutp69uq2mike7h5og8%40group.calendar.google.com&amp;color=%238D6F47&amp;src=g91t5cecs0oiulpmt2lt73ssec%40group.calendar.google.com&amp;color=%232F6309&amp;src=rma153g34jd6ebl8o79kack9ng%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

-->