---
title: High School Band Directors
---

<div class="container primary-sections" data-page="contact">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          High School Band
        </a>
      </li>
      <li class="breadcrumb-item active">Our Directors</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>High School Band Directors</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Jim Jacobsen</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/Jacobsen.jpg"
                width="170"
                height="239"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles">
            <em>Varsity Band, Wind Ensemble and Jazz Ensemble Director</em>
          </p>
          <a href="mailto:jjacobsen@hastings.k12.mn.us">
            jjacobsen@hastings.k12.mn.us
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Jim Jacobsen</strong> joined the staff at Hastings High School in
      2010. At HHS he directs the Wind Ensemble, Varsity Band (a freshman
      Concert Band), Jazz 1, Jazz II, Chamber Ensembles and teaches instrumental
      lessons. Before coming to Hastings High School, Jim was a Band Director at
      Eagan High School and Apollo High School in Saint Cloud, Minnesota. Mr.
      Jacobsen has also directed marching bands, drumlines, and percussion
      ensembles throughout the state. Jim Jacobsen is an active adjudicator and
      has presented clinics and adjudicated throughout the Nation for various
      solo and ensemble, large group and marching band competitions. He is an
      active performer, performing in the Medalist Concert Band from
      Bloomington, Minnesota and the “Table Band” at Shepherd of the Valley
      Lutheran Church in Apple Valley, Minnesota. Mr. Jacobsen has also
      performed with two Drum and Bugle Corps; the Bluecoats from Canton, Ohio
      and Minnesota Brass from the Twin Cities. Jim Jacobsen holds a Bachelor of
      Science degree in Music Education from St. Cloud State University and a
      Masters degree in Conducting from the American Band College program at
      Southern Oregon University. Jim and his wife, Sonia, live in Rosemount
      with their two young children and two old dogs. In addition to spending
      time with his family, Mr. Jacobsen enjoys camping, motorsports, and
      reading.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Claire Nalven</h3>
        <img
                src="{{ site.baseurl }}/assets/graphics/directors/Nalven.jpg"
                width="170"
                height="213"
                border="0"
                class="img-fluid"
        />
        <figcaption>
          <p class="ensembles"><em>Concert Band and Pep Band Director</em></p>
          <a href="mailto:cnalven@hastings.k12.mn.us">
            cnalven@hastings.k12.mn.us
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Ms. Nalven</strong> teaches 5th and 6th grade band at Hastings
      Middle School and the Concert and Pep Bands at Hastings High School. She
      has her BM from Northwestern University (Evanston, IL) and her MM from The
      University of Michigan (Ann Arbor, MI). Her degrees are in clarinet
      performance, chamber music and education certification. This is Ms.
      Nalven’s first year in Hastings: prior to this position, she was the
      director of bands at Rockford Middle School in Rockford, MN. When she’s
      not at school, Ms. Nalven has a clarinet studio based in St. Paul and
      works with the Greater Twin Cities Youth Symphonies. She also likes to
      participate in triathlons, cook for friends and walk her dog, Annie.
    </div>
  </div>
</div>
