---
title: Fundraising
---

<div class="container primary-sections" data-page="fundraising">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Hastings Bands</a></li>
      <li class="breadcrumb-item active">Fundraising</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_calendar_540x170.png"
            />
            <div class="details">
              <h3>Calendar</h3>
              <hr class="mt0 mb8" />
              <p>View upcoming concerts, events, and public performances</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_cgdl_540x170.png"
            />
            <div class="details">
              <h3>Cub Foods Bagging</h3>
              <hr class="mt0 mb8" />
              <p>Special information for these sections</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_news_540x170.png"
            />
            <div class="details">
              <h3>News & Information</h3>
              <hr class="mt0 mb8" />
              <p>Read announcements and find other important info</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_docs_540x170.png"
            />
            <div class="details">
              <h3>Gertens</h3>
              <hr class="mt0 mb8" />
              <p>Forms, handouts, and other downloads</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_directors_540x170.png"
            />
            <div class="details">
              <h3>Apple Orchard Concert</h3>
              <hr class="mt0 mb8" />
              <p>Meet our directors and get in touch</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a class="nav-rectangle" href="#">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_show_540x170.png"
            />
            <div class="details">
              <h3>Achieving Dreams</h3>
              <hr class="mt0 mb8" />
              <p>View photos and information from current and past seasons</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
