---
title: High School Band Upcoming Tour
---

<div class="container primary-sections" data-page="tour">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">High School Band</a>
      </li>
      <li class="breadcrumb-item active">Upcoming Tour</li>
    </ol>

    <!--<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ site.baseurl }}/">
      Home
    </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{{ site.baseurl }}/high-school">
      High School
    </a>
  </li>
  <li class="breadcrumb-item active">Bands</li>
</ol>-->

  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>High School Band Upcoming Tour</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div>
        <!-- <div class="owl-carousel owl-theme">-->
        <div class="owl-carousel">
          <div class="item">
            <img
                    class="img-fluid mb-2"
                    src="{{ site.baseurl }}/assets/images/tour/ss-ireland-dublin-clontarf-castle.jpg"
                    alt="Slide 1"
            />
          </div>
          <div class="item">
            <img
                    class="img-fluid mb-2"
                    src="{{ site.baseurl }}/assets/images/tour/ss-cliffs-of-moher.jpg"
                    alt="Slide 2"
            />
          </div>
          <div class="item">
            <img
                    class="img-fluid mb-2"
                    src="{{ site.baseurl }}/assets/images/tour/ss-cork.jpg"
                    alt="Slide 3"
            />
          </div>

          <div class="item">
            <img
                    class="img-fluid mb-2"
                    src="{{ site.baseurl }}/assets/images/tour/ss-galway.jpg"
                    alt="Slide 4"
            />
          </div>
          <div class="item">
            <img
                    class="img-fluid mb-2"
                    src="{{ site.baseurl }}/assets/images/tour/ss-Lake-Hotel-Killarney.jpg"
                    alt="Slide 5"
            />
          </div>
        </div>
        <h3 class="text-center">IRELAND in 2019</h3>
        <p>
          We have a fantastic, once-in-a-lifetime trip opportunity planned for
          Instrumental Music students over spring break 2019 –
          <strong>IRELAND</strong>. You will not believe this spectacular
          destination. We hope you will make every effort to join us!
        </p>
        <p>
          Fundraising opportunities will continue to be available. We strongly
          encourage participation in these fundraisers for any student who is
          considering going on the trip. Build up your account, so that this
          once-in-a-lifetime opportunity can become a reality for you.
        </p>
        <p>
          This trip is open to all band students in grades 10-12 in the school
          year 2018 & 2019, and all Concertino Orchestra members.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <h5>Online Registration</h5>
          <ul>
            <li class="font-weight-bold text-danger">
              ONLINE REGISTRATION IS OPEN NOW THROUGH FEBRUARY 18, 2018
            </li>
            <li>
              Go to the following website:
              <a href="http://www.cvent.com/d/7tqcs3" target="_blank">
                http://www.cvent.com/d/7tqcs3
              </a>
            </li>
            <li>
              Click on the <span class="font-italic">Register</span> button
            </li>
            <li>Log In using the password: HHS</li>
            <!--<li><strong>Ireland Informational Meeting</strong> – Thursday, December 7th, 2017 at 6pm in the HHS Auditorium</li>-->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <h5>Tour Documents</h5>
          <ul>
            <li>
              <a
                      href="{{ site.baseurl }}/assets/documents/hs/tour/Hastings Ireland Tour Brochure (updated 010318).pdf"
                      target="_blank"
              >
                2019 Ireland Band and Orchestra Tour Itinerary </a
              ><span class="small font-italic"> (updated 1/3/2018)</span>
            </li>
            <li>
              <a
                      href="https://www.dropbox.com/s/d16oo33k29fc9q8/Hastings%20Ireland%20Presentation.pdf?dl=0"
                      target="_blank"
              >
                2019 Ireland Band and Orchestra Tour Presentation </a
              ><span class="small font-italic"> (updated 1/3/2018)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="row mb-2">
        <div class="col-sm-12">
            <div>
                <img src="graphics/MusicStaff.gif" width="129" height="75" alt="Music" /><img src="graphics/UnderComposition.gif" width="200" height="75" alt="Under Composition" />
            </div>
        </div>
    </div>
    -->
</div>
