---
title: About Band
---

<div class="container primary-sections" data-page="aboutband">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Hastings Bands</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <div id="landing-slideshow" data-slideshow="Band Slideshow"></div>
        <!--<div id="landing-slideshow" data-slideshow="Stuff Slideshow"></div>-->
        <h2>Announcements</h2>
        <p>Welcome to the redesigned Hastings Bands website!</p>
        <hr />
        <h4>The Hastings Band Program</h4>
        <p>
          The Band Program at Hastings High School combines with exemplary
          orchestra and choral programs to form a comprehensive music
          department. Combined, the music department boasts a growing enrollment
          of over 600 students.
        </p>
        <p>
          The bands at Hastings High School are under the direction of Jim
          Jacobsen, Claire Nalven and Emily Chandler.
        </p>
        <p>
          Hastings Middle School has an enrollment of approximately 1500
          students with 320 students enrolled in our grade level bands and jazz
          bands.
        </p>
        <p>The band directors at HMS are Duane Oldham and Claire Nalven.</p>
      </main>
    </div>
    <div class="eventsidebar col-sm-4">
      <div id="upcoming-events-header">Upcoming Events</div>
      <div id="upcomingevents" data-calendars='["events"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>
    </div>
  </div>
</div>
