---
title: Middle School Band Home
---

<div class="container primary-sections" data-page="middleschool">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Hastings Bands Home
        </a>
      </li>
      <li class="breadcrumb-item active">Middle School</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="mb-2">Middle School Band Home</h4>
          <h5>Announcements</h5>
          <ul>
            <li>
              Happenings Books/DMC card sale Sept. 11 - 29 (see letter in
              Documents below)
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <h5>
            Documents <span class="small font-italic">(click to download)</span>
          </h5>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <a
                href="{{ site.baseurl }}/assets/documents/ms/Concert Dates 18-19 update.pdf"
                target="_blank"
              >
                Performance Schedule
              </a>
              <span class="small font-italic">&nbsp;(updated 9/24/2018)</span>
            </li>
            <li>
              <a
                href="{{ site.baseurl }}/assets/documents/ms/HMS Private lesson form.pdf"
                target="_blank"
              >
                Private Lesson Form
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>
              <a
                href="{{ site.baseurl }}/assets/documents/ms/2017 Happenings Letter.pdf"
                target="_blank"
              >
                Happenings Book/DMC Card Sale Letter
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <h5 class="text-center">The Hastings Middle School Bands</h5>
          <p>
            Hastings Middle School has an enrollment of approximately 1500
            students with 320 students enrolled in our grade level bands and
            jazz bands. HMS has 5th grade band instrument classes, one 6th grade
            band, one 7th grade band and one 8th grade band. All of our band
            classes meet for approximately 48 minutes every other day. Each band
            performs at 3 concerts during the school year.
          </p>
          <p>
            Students in band may also participate in Jazz Band or Woodwind
            Ensemble. The HMS Jazz Bands rehearse once a week throughout the
            year and perform at Jazz Night in April. The Woodwind Ensemble is
            open to 7th and 8th graders and meets at selected times during the
            school year.
          </p>
          <p>The band directors at HMS are Duane Oldham and Claire Nalven.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a class="nav-rectangle" href="{{ site.baseurl }}/middle-school/bands/">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_bands_540x170.png"
            />
            <div class="details">
              <h3>Bands</h3>
              <p>Learn about our curricular and extra-curricular ensembles</p>
            </div>
          </div>
        </div>
      </a>
      <a
        class="nav-rectangle"
        href="{{ site.baseurl }}/middle-school/calendar/"
      >
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_calendar_540x170.png"
            />
            <div class="details">
              <h3>Calendar</h3>
              <p>View upcoming concerts, events, and public performances</p>
            </div>
          </div>
        </div>
      </a>
      <a class="nav-rectangle" href="{{ site.baseurl }}/middle-school/contact/">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/BSphoto_directors_540x170.png"
            />
            <div class="details">
              <h3>Directors & Contact Info</h3>
              <p>Meet our directors and get in touch</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
