---
title: Marching Band Show History
---

<div class="container primary-sections" data-page="history">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Marching Band</a>
      </li>
      <li class="breadcrumb-item active">Show History</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>Hastings Raiders Marching Band</h4>
        Class A State Champions 2012, 2013, 2014, 2017
        <hr />
      </div>
    </div>
  </div>
  <!-- 2019 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2019 - <span class="font-italic">The Web We Weave</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2019L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2019S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show is comprised of 3 movements: Mvt 1 &ldquo;Black Widow&rdquo;, Mvt
          2 &ldquo;The Web&rdquo; and Mvt 3 &ldquo;Trapped&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Jack Raway</li>
        <li>
          <strong>Soloists:</strong> Jonah Walt - alto sax, Adam Iverson - alto sax
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler, Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Josh Wahlstrom, Josh Van Sant, Thomas Walker
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Grace Bauer, Alice Flom, Tessa Hubley
        </li>
        <li>
          <strong>Music/Visual Techs:</strong> Jake Bohlken, Macy Pollard, Abe Kummer, Travis Perkins
        </li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Joe Asleson, Josh Wahlstrom
        </li>
        <li><strong>Colorguard Design:</strong> Zoe Norrgard</li>
        <li><strong>Visual Design:</strong> Joel Matuzak</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eden Prairie:</li>
            <li>Eastview:</li>
            <li>
              Rosemount:
            </li>
            <li>
              Marshall:
            </li>
            <li>
              Chippewa Falls:
            </li>
            <li>
              Youth In Music Marching Band Championships:
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2018 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2018 - <span class="font-italic">Stagecoach</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2018L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2018S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show is comprised of 4 movements: Mvt 1 &ldquo;Go West&rdquo;, Mvt
          2 &ldquo;The Trail&rdquo;, Mvt 3 &ldquo;Heist&rdquo; and Mvt 4
          &rdquo;Frontier&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Ben Wentzler</li>
        <li>
          <strong>Soloists:</strong> Jonah Walt-Soprano Saxophone, Dani
          Clifford-Flugelhorn
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler, Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Josh Wahlstrom, Eddie Starr, Josh
          Van Sant
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Lindsey Wetterhahn, Alice Flom,
          Dalton Allen
        </li>
        <li>
          <strong>Additional Staff:</strong> Jacob Daniel, Abe Kummer, Travis
          Perkins, Elizabeth Peine
        </li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Josh Wahlstrom, Mark
          Diischer
        </li>
        <li><strong>Visual Design:</strong> Joel Matuzak</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eden Prairie: 3rd Place</li>
            <li>Eastview: 4th Place</li>
            <li>
              Rosemount: 1st Place; Outstanding Winds, Percussion and Colorguard
            </li>
            <li>
              Marshall: 1st Place; Outstanding General Effect, Music, Visual,
              Brass, Woodwinds, Batterie Percussion, Concert Percussion (pit)
              and Colorguard
            </li>
            <li>
              Champlin Park: 1st Place; Outstanding Visual, Percussion and
              Colorguard
            </li>
            <li>
              Youth In Music Marching Band Championships: 3rd Place Class AA;
              12th out of 26 bands
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2017 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2017 - <span class="font-italic">Frankenstein</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2017L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2017S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show is based on the famous monster created by Victor
          Frankenstein. It is comprised of 4 movements: Mvt I
          &ldquo;Creation&rdquo;, Mvt II &ldquo;Emotion&rdquo;, Mvt III
          &ldquo;Rejection&rdquo; and Mvt IV &rdquo;Destruction&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Micah Walt</li>
        <li>
          <strong>Soloists:</strong> Dani Clifford, Ben Wentzler-Trumpet Cailin
          Miller, William Patton-Mellophone
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler, Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Josh Wahlstrom, Eddie Starr, Deryck
          Lawson
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Lindsey Wetterhahn-Baumann, Alice
          Flom, Dalton Allen
        </li>
        <li><strong>Music Tech:</strong> Jake Bohlken</li>
        <li><strong>Visual Tech:</strong> Jacob Daniel</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Josh Wahlstrom, Mark
          Diischer
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>
              Eden Prairie: 1st Place; Outstanding Winds, Percussion and Drum
              Major
            </li>
            <li>Eastview: 1st Place; Outstanding Percussion and Drum Major</li>
            <li>
              Rosemount: 1st Place; Outstanding Winds, Percussion, Colorguard
              and Drum Major
            </li>
            <li>
              Marshall: 1st Place; Outstanding General Effect, Music
              Performance, Brass, Woodwinds, Batterie Percussion, Concert
              Percussion (Pit) and Drum Major
            </li>
            <li>
              Sioux Falls: 3rd Place Class AAAA in Prelims; 5th Place in Finals
              ~ 19 bands total at competition
            </li>
            <li>
              Youth In Music Marching Band Championships: 1st Place (Class A
              Minnesota State Champion); Outstanding Winds, Percussion and
              Colorguard
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2016 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2016 - <span class="font-italic">New World: The Vikings</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2016L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2016S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Join us as we travel with the Vikings on a journey filled with
          exploration and battle! The show is comprised of 4 movements and
          incorporates the music from Dvorak's &ldquo;'New World
          Symphony.&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Sarah Hardy</li>
        <li><strong>Soloist:</strong> James McCord-Trombone</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler, Thomas Wentzler</li>
        <li><strong>Percussion Staff:</strong> Josh Wahlstrom, Eddie Starr</li>
        <li>
          <strong>Colorguard Staff:</strong> Lindsey Wetterhahn-Baumann, Amanda
          Flom, Alice Flom, Tori Nordine
        </li>
        <li><strong>Music Tech:</strong> Jake Bohlken</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Josh Wahlstrom, Mark
          Diischer
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>
              Eden Prairie: 2nd Place; Outstanding Drum Major-Sarah Hardy and
              Outstanding Winds
            </li>
            <li>
              Eastview: 2nd Place; Outstanding Soloist-James McCord and
              Outstanding Winds
            </li>
            <li>
              Marshall: 1st Place; Outstanding Color Guard, Visual Effect, Music
              Effect, Woodwinds and Brass (tie)
            </li>
            <li>
              Rosemount: 2nd Place; Outstanding Wind Section and Outstanding
              Soloist-James McCord
            </li>
            <li>Anoka: 2nd Place; Outstanding Soloist-James McCord</li>
            <li>Champlin Park: 2nd Place; Outstanding Wind Section</li>
            <li>
              Youth In Music Marching Band Championships: 2nd Place Class A;
              11th out of 24 bands; Outstanding Wind Section
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2015 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2015 - <span class="font-italic">Sub-Zero</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2015L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2015S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Join us as we embark on a journey through beautiful Antarctica. From
          frigid temperatures, to the peacefulness of snow, to crystal clear
          blue waters, to remarkable ice formations, we will explore this
          wondrous landscape. The show includes 3 movements.
        </li>
        <li><strong>Drum Major:</strong> Abe Kummer</li>
        <li>
          <strong>Soloists:</strong> Mikki Becker-Trumpet, Sarah Hardy-Trumpet,
          James McCord-Trombone, Katherine McCord-Mellophone
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Drumline Instructor:</strong> Josh Wahlstrom, Louie Delatorre
        </li>
        <li>
          <strong>Colorguard Instructor:</strong> Amanda Flom, Alice Flom,
          Lindsey Wetterhahn, Tori Nordine
        </li>
        <li><strong>Visual Staff:</strong> Jake Bohlken</li>
        <li><strong>Visual Tech:</strong> Abbie Zuzek</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Mark Diischer, Josh
          Wahlstrom
        </li>
        <li><strong>Drill Writer:</strong> Joel Matuzak</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eden Prairie: 3rd Place</li>
            <li>Eastview: 3rd Place; Outstanding Drum Major</li>
            <li>
              Marshall: 1st Place; Outstanding Brass, Woodwinds, Battery
              Percussion, Concert Percussion (Pit), Music Performance, Visual
              Performance and General Effect
            </li>
            <li>Rosemount: 2nd Place; Outstanding Soloist</li>
            <li>Irondale: 2nd Place; Outstanding Drum Major and Colorguard</li>
            <li>Sioux Falls: 8th Place in finals out of 24 bands total</li>
            <li>Youth In Music Marching Band Championships: 3rd Place</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2014 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2014 - <span class="font-italic">Olympus</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2014L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2014S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Greek and Roman mythology has entranced hundreds of generations in its
          epic narratives of gods, heroes and landscapes. Encompassing moral,
          natural, and spiritual consequence, the gods of Olympus reigned
          supreme over daily life for centuries. Watch and listen as the Raiders
          Marching Band brings to life several of these famous gods:
          &ldquo;Poseidon&rdquo; (Mvt. 1), &ldquo;Aphrodite&rdquo; (Mvt. 2) and
          &ldquo;Zeus&rdquo; (Mvt. 3)
        </li>
        <li><strong>Drum Major:</strong> Laura Lunde</li>
        <li><strong>Soloists:</strong> Michael Notch and Allie Stoffel</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Drumline Instructor:</strong> Josh Wahlstrom, Jim Jacobsen
        </li>
        <li>
          <strong>Colorguard Instructor:</strong> Amanda Flom, Alice Flom,
          Lindsey Wetterhahn, Melanie Cordell
        </li>
        <li><strong>Visual Staff:</strong> Jake Bohlken</li>
        <li><strong>Visual Tech:</strong> Elizabeth Hardy</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Mark Diischer, Josh
          Wahlstrom
        </li>
        <li><strong>Drill Writer:</strong> Joel Matuzak</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eden Prairie: 2nd Place; Outstanding Percussion</li>
            <li>
              Eastview: 1st Place; Outstanding, Percussion, Winds and Soloist
            </li>
            <li>Rosemount: 2nd Place; Outstanding Winds and Soloist</li>
            <li>
              Marshall: 1st Place; Outstanding Concert Percussion (Pit), Battery
              Percussion, Brass, Woodwinds, Colorguard (tie), Drum Major,
              General Effect, Music Performance and Visual Performance (tie)
            </li>
            <li>
              Anoka: 1st Place; Outstanding Percussion, Winds and Drum Major
            </li>
            <li>Champlin Park: 1st Place; Outstanding Percussion and Winds</li>
            <li>
              Youth In Music Marching Band Championships: 1st Place (Class A
              Minnesota State Champion); Outstanding Percussion and Winds
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2013 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2013 - <span class="font-italic">Undercover</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2013L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2013S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Mvt 1: &ldquo;Rescue.&rdquo; With the guard soloist trapped, her
          fellow partners in crime race to the rescue in a covert operation to
          help her escape the clutches of the band. But will she remain free?
          Mvt 2: &ldquo;Reflections.&rdquo; Thinking back to a time of less
          conflict, the soloist reflects on her past and contemplates about what
          her life has become. Mvt 3: &ldquo;Red-Handed.&rdquo; The band
          continues the high-speed chase of the soloist and her partners in
          crime. Will they finally escape for good or once again be caught
          red-handed?
        </li>
        <li><strong>Drum Major:</strong> Ben Ventry</li>
        <li><strong>Soloists:</strong> Michael Notch and Tori Nordine</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Drumline Instructor:</strong> Josh Wahlstrom, Joe Holmes
        </li>
        <li>
          <strong>Colorguard Instructor:</strong> Amanda Flom, Alice Flom,
          Lindsey Wetterhahn, Melanie Cordell
        </li>
        <li><strong>Visual Staff:</strong> Jake Bohlken</li>
        <li><strong>Visual Techs:</strong> Elizabeth Hardy, Abbie Zuzek</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Mark Diischer, Josh
          Wahlstrom
        </li>
        <li><strong>Drill Writer:</strong> Joel Matuzak</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>
              Eden Prairie: 1st Place; Outstanding Color Guard and Drumline
            </li>
            <li>
              Eastview: 4th Place; Outstanding Drum Major, Drumline and Soloist
            </li>
            <li>
              Rosemount: 1st Place; Outstanding Drumline, Color Guard, Drum
              Major and Soloist
            </li>
            <li>
              Marshall: 1st Place; Outstanding Color Guard, Pit, Music General
              Effect and Visual General Effect
            </li>
            <li>Irondale: 2nd Place; Outstanding Drum Major</li>
            <li>
              Sioux Falls: 3rd Place Class AAAA in Prelims, 9th Place in Finals
            </li>
            <li>
              Youth In Music Marching Band Championships: 1st Place (Class A
              Minnesota State Champion)
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2012 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2012 - <span class="font-italic">The Ascent</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2012L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2012S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Journey with the band as they face off against jagged mountains in an
          attempt to reach the peak. Mvt I, titled &ldquo;Braving the
          Summit,&rdquo; takes us on the first part of their adventure as they
          brave through the turmoil and struggles of the climb. Mvt II, titled
          &ldquo;Shelter Under the Stars,&rdquo; represents the tranquility and
          peacefulness of the mountain as they rest and rejuvenate for what lies
          ahead. Mvt III, titled &ldquo;The Pinnacle at Dawn,&rdquo; is an
          exhilarating finish to their adventure as they finally reach the peak
          of the mountain.
        </li>
        <li><strong>Drill Writer:</strong> Joel Matuzak</li>
        <li><strong>Drum Major:</strong> Elizabeth Hardy</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li><strong>Percussion Staff:</strong> Josh Wahlstrom, Joe Holmes</li>
        <li>
          <strong>Colorguard Staff:</strong> Kimi Schillinger, Amanda Flom
        </li>
        <li><strong>Visual Staff:</strong> Jake Bohlken, Meghan Moynihan</li>
        <li><strong>Music Composition:</strong> Gary P. Gilroy Publications</li>
        <li>
          <strong>Percussion Arrangements:</strong> Mark Diischer, Josh
          Wahlstrom
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eden Prairie: 1st Place</li>
            <li>Eastview: 3rd Place</li>
            <li>
              Rosemount: 1st Place; Outstanding Drum Major and Trumpet Duets
            </li>
            <li>
              Marshall: 1st Place; Outstanding Visual General Effect and Color
              Guard
            </li>
            <li>Irondale: 3rd Place; Outstanding Color Guard</li>
            <li>Anoka: 2nd Place</li>
            <li>Champlin Park: 1st Place; Outstanding Winds and Drum Major</li>
            <li>
              Youth In Music Marching Band Championships: 1st Place (Class A
              Minnesota State Champion); Best Drumline
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2011 -->
  <div class="row">
    <div class="col-md-6">
      <h5>
        2011 -
        <span class="font-italic">Tutankhamen: Secrets from the Sand</span>
      </h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2011L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2011S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show takes us on a journey to the discovery of King Tut’s tomb in
          ancient Egypt. Mvt. 1 is titled &ldquo;KV 62 (Howard Carter’s
          Discovery).&rdquo; Mvt. 2 is titled &ldquo;Carter’s First Impression:
          Wonderful Things.&rdquo; Mvt. 3 is titled &ldquo;The Curse Claims
          Eleven.&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Jolena Zabel</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Josh Wahlstrom, Mark Diischer, Andy
          Abel, Justin Phillips
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Kimi Schillinger, Amanda Flom
        </li>
        <li><strong>Visual Staff:</strong> Jake Bohlken, Meghan Moynihan</li>
        <li><strong>Music Composition:</strong> Key Poulan</li>
        <li>
          <strong>Percussion Arrangements:</strong> Justin Phillips, Josh
          Wahlstrom
        </li>
        <li><strong>Drill Writer:</strong> Jay Coopersmith</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Rosemount: 3rd Place; Espirit De Corps Award</li>
            <li>Eastview: 4th Place; Outstanding Color Guard</li>
            <li>
              Marshall: 2nd Place; Outstanding Frontline Percussion and Color
              Guard
            </li>
            <li>Irondale: 3rd Place; Outstanding Percussion and Visual</li>
            <li>Sioux Falls: 6th Place in Finals</li>
            <li>Chippewa Falls: 2nd Place</li>
            <li>Youth In Music Marching Band Championships: ???</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2010 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2010 - <span class="font-italic">The Bermuda Triangle</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2010L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2010S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show takes you on a musical and visual journey as we head to the
          Bermuda Triangle. Movement 1 titled &ldquo;Into the Triangle/Off
          Course,&rdquo; takes you into the storm. Movement 2 titled &ldquo;A
          Momentary Calm,&rdquo; depicts the calm before the storm. The show
          ends with Movement 3 &ldquo;Lost in the triangle/Vanished.&rdquo; This
          final movement illustrates the mysterious reputation of the triangle.
          We hope you enjoy the show!
        </li>
        <li><strong>Drum Major:</strong> Mary Haglund</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Colorguard Staff:</strong> Kimi Schillinger, Amanda Flom,
          Felipe Mendoza, Jammal Reyes
        </li>
        <li>
          <strong>Percussion Staff:</strong> Josh Wahlstrom, Justin Phillips
        </li>
        <li><strong>Music Composition:</strong> Key Poulan</li>
        <li>
          <strong>Percussion Arrangements:</strong> Jay Coopersmith, Josh
          Wahlstrom
        </li>
        <li><strong>Drill Writer:</strong> Jay Coopersmith</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>
              Eastview: 3rd Place; Outstanding Soloist (Jenna Moon) and
              Percussion
            </li>
            <li>Rosemount: 3rd Place; Outstanding Percussion</li>
            <li>Marshall: 2nd Place; Outstanding Frontline Percussion</li>
            <li>Irondale: 3rd Place</li>
            <li>Champlin Park: 2nd Place; Outstanding Color Guard</li>
            <li>Chippewa Falls: ???</li>
            <li>Youth In Music Marching Band Championships: ???</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2009 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2009 - <span class="font-italic">Horizons</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2009L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2009S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          The show will paint a picture of landscape using sound, shape, and
          color and will reflect on different aspects relating to the essence of
          sunlight in our day. The show begins with the exuberant, glorious, and
          rhythmic Lauds (Praise High Day) by Ron Nelson. Lauds will portray the
          praise and celebration of a new day. Next you will hear At Morning’s
          First Light by David Gillingham as we reflect on the beauty and
          calmness of the first glimmer of sunlight we experience in the early
          morning. Finally, &ldquo;Horizons&rdquo; will close with the
          fast-paced and driving Sonoran Desert Holiday by Ron Nelson. In this
          piece, we follow the sun to the fiery hot Sonoran Desert in the
          southwestern United States.
        </li>
        <li><strong>Drum Major:</strong> Chance Radford</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Directors:</strong> Emily Chandler and Thomas Wentzler</li>
        <li>
          <strong>Colorguard Staff:</strong> Kimi Schillinger, Amanda Flom
        </li>
        <li>
          <strong>Drumline Staff:</strong> Josh Wahlstrom, Jay Coopersmith
        </li>
        <li><strong>Music Arrangements:</strong> Ben Harloff</li>
        <li>
          <strong>Percussion Arrangements:</strong> John Theisen, Josh Wahlstrom
        </li>
        <li>
          <strong>Drill Writer:</strong> Jay Coopersmith, Phil Snyder, Thomas
          Wentzler
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Eastview: 3rd Place</li>
            <li>Rosemount: 3rd Place; Outstanding Soloist (Austin Vokoun)</li>
            <li>
              Marshall: 5th Place; Outstanding Drum Major and Frontline
              Percussion
            </li>
            <li>Irondale: 6th Place</li>
            <li>Champlin Park: 2nd Place</li>
            <li>Eden Prairie: 3rd Place</li>
            <li>Youth In Music Marching Band Championships: 3rd Place</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2008 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2008 - <span class="font-italic">Jekyll and Hyde</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2008L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2008S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Adam Ernst</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Assistant Director:</strong> Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke, Josh
          Wahlstrom
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Trisha Abel, Amanda Flom, Kimi
          Schillinger
        </li>
        <li><strong>Drill Arranger:</strong> Phil Snyder</li>
        <li>
          <strong>Percussion Arrangement:</strong> Jenny Whipple and Josh
          Wahlstrom
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Rosemount: 2nd Place; Outstanding Soloist and Drum Major</li>
            <li>
              Eastview: 1st Place; Outstanding Drum Major, Drumline and Hornline
            </li>
            <li>Waseca: 3rd Place; Outstanding Drum Major and Drumline</li>
            <li>Luverne: 3rd Place</li>
            <li>
              Brandon Valley: 2nd Place; Outstanding Drumline and Color Guard
            </li>
            <li>Champlin Park: 1st Place; Outstanding Winds</li>
            <li>Eden Prairie: 2nd Place; Outstanding Drum Major</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2007 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2007 - <span class="font-italic">World Tour</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2007L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2007S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Journey to the fiery streets of Spain in &ldquo;Estancia&rdquo;
          composed by Jay Dawson. Next, travel to hear the tribal sounds of
          &ldquo;Africa: Ceremony, Song and Ritual&rdquo; composed by Robert W.
          Smith, arranged by Mike Halstenson. The next phase of the Raiders
          journey takes them to the orient in &ldquo;Variations on a Korean
          Folksong&rdquo; composed by John Barnes Chance, arranged by Jay
          Dawson. Finally, the Raiders come home, and finish with American
          composer Aaron Copland in &ldquo;Copland Finale,&rdquo; featuring the
          pieces &ldquo;The Red Pony&rdquo; and &ldquo;Fanfare for the Common
          Man,&rdquo; arranged by Jay Dawson.
        </li>
        <li><strong>Drum Major:</strong> Kristen Mages</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Assistant Director:</strong> Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke, Josh
          Wahlstrom
        </li>
        <li>
          <strong>Colorguard Staff:</strong> Trisha Abel, Amanda Flom, Kimi
          Schillinger
        </li>
        <li><strong>Drill Arranger:</strong> Phil Snyder</li>
        <li>
          <strong>Percussion Arrangement:</strong> Jenny Whipple and Josh
          Wahlstrom
        </li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Champlin Park: 1st Place; Outstanding Winds and Drum Major</li>
            <li>Waseca: 2nd Place; Outstanding Winds</li>
            <li>Coon Rapids: 2nd Place; Outstanding Drum Major</li>
            <li>
              Irondale: 2nd Place; Outstanding Winds, Soloist and Drum Major
            </li>
            <li>
              Rosemount: 2nd Place; Outstanding Winds, Soloist and Drum Major
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2006 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2006 - <span class="font-italic">Exploration</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2006L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2006S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Journey the wondrous artworks depicted through music in
          &ldquo;Pictures at an Exhibition&rdquo; by Modest Moussorgdky,
          arranged by Jay Bocook. Percussion arrangement by Jenny Whipple.
          Pieces included are &ldquo;Promenade,&rdquo; &ldquo;Great Gate Of
          Kiev,&rdquo; and &ldquo;The Hut Of Baba Yoga.&rdquo; Continue with the
          Raiders as their music takes you through space with &ldquo;Mars&rdquo;
          and &ldquo;Jupiter&rdquo;, composed by Gustav Holtz.
        </li>
        <li><strong>Drum Major:</strong> Josh Menke</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Assistant Director:</strong> Thomas Wentzler</li>
        <li>
          <strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke, Caitlin
          Halmrast
        </li>
        <li><strong>Colorguard Staff:</strong> Trisha Beauvais, Amanda Flom</li>
        <li><strong>Drill Arranger:</strong> Phil Snyder</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Champlin Park: 4th Place</li>
            <li>Eastview: 6th Place</li>
            <li>Waseca: 2nd Place</li>
            <li>Coon Rapids: 1st Place</li>
            <li>Irondale: 3rd Place</li>
            <li>DC Everest, WI: 2nd Place</li>
            <li>Merrill, WI: 4th Place</li>
            <li>Rosemount: 3rd Place</li>
            <li>Youth In Music Marching Band Championships: 3rd Place</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2005 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2005 - <span class="font-italic">Stormworks</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2005L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2005S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Mike Jones</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke</li>
        <li><strong>Colorguard Staff:</strong> Trisha Beauvais, Amanda Flom</li>
        <li><strong>Drill Arranger:</strong> Phil Snyder</li>
        <li>
          <strong>Awards:</strong>
          <ul style="margin-top:4px;">
            <li>Champlin Park: 4th Place; Best Drum Major</li>
            <li>Waseca: 3rd Place</li>
            <li>
              Coon Rapids: 2nd Place; Best Color Guard and Drum Major;
              Sweepstakes Award
            </li>
            <li>Irondale: Participation</li>
            <li>Chippewa Falls: Participation</li>
            <li>Rosemount: 3rd Place; Best Soloists</li>
            <li>Youth In Music Marching Band Championships: Participation</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2004 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2004 - <span class="font-italic">Lord of the Rings</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB2004L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB2004S.jpg"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke</li>
        <li><strong>Colorguard Staff:</strong> Trisha Beauvais</li>
        <li><strong>Drum Major:</strong> Austin Wellman</li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2003 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2003 - <span class="font-italic">The Divine Comedy</span></h5>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Jeremiah Fairbanks</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Chandler</li>
        <li><strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke</li>
        <li><strong>Colorguard Staff:</strong> Trisha Beauvais</li>
        <li>
          Do you have a group picture from this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2002 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2002 - <span class="font-italic">Riverdance</span></h5>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Ryan Ernst</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Emily Wiens</li>
        <li><strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke</li>
        <li>
          <strong>Colorguard Staff:</strong> Trisha Beauvais, Aaron Shaleen
        </li>
        <li>
          Do you have a group picture from this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2001 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2001 - <span class="font-italic">Musica Fuerte</span></h5>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Denton Hanson</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          <strong>Directors:</strong> Stephanie Marthaler (summer) and Emily
          Wiens (fall)
        </li>
        <li><strong>Percussion Staff:</strong> Andy Abel, Chad Bigalke</li>
        <li>
          <strong>Colorguard Staff:</strong> Trisha Beauvais, Aaron Shaleen
        </li>
        <li>
          Do you have a group picture from this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 2000 -->
  <div class="row">
    <div class="col-md-6">
      <h5>2000 - <span class="font-italic">Jesus Christ Superstar</span></h5>
      <ul class="list-unstyled">
        <li><strong>Drum Major:</strong> Phil Snyder</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Duane Oldham</li>
        <li><strong>Percussion Staff:</strong> Stephanie Marthaler</li>
        <li><strong>Tech Staff:</strong> Emily Wiens</li>
        <li>
          Do you have a group picture from this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1999 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1999 - <span class="font-italic">???</span></h5>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          Do you have a group picture or information to help us complete field
          show history for this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1998 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1998 - <span class="font-italic">???</span></h5>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          Do you have a group picture or information to help us complete field
          show history for this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1997 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1997 - <span class="font-italic">???</span></h5>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          Do you have a group picture or information to help us complete field
          show history for this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1996 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1996 - <span class="font-italic">???</span></h5>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          Do you have a group picture or information to help us complete field
          show history for this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1995 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1995 - <span class="font-italic">???</span></h5>
      <ul class="list-unstyled"></ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li>
          Do you have a group picture or information to help us complete field
          show history for this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1994 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1994 - <span class="font-italic">Swing Kids, Swing</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB1994L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB1994S.jpg"
              width="610"
              height="334"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Selections: &ldquo;My Man&rdquo;, &ldquo;Sing, Sing, Sing&rdquo;,
          &ldquo;Caravan&rdquo;, &ldquo;Malaga&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Heather Eckes and Andrea Lind</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Bob Casperson and Duane Oldham</li>
        <li><strong>Colorguard Instructor:</strong> Pat Lorch</li>
        <li><strong>Drumline Instructor:</strong> Jay Coopersmith</li>
        <li>
          <strong>Drill Design:</strong> Bob Casperson, Pat Lorch, Jay
          Coopersmith
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <!-- 1993 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1993 - <span class="font-italic">Phantom of the Opera</span></h5>
      <a href="{{ site.baseurl }}/assets/images/group/MB1993L.jpg" target="_blank"
      ><img
              class="img-fluid"
              src="{{ site.baseurl }}/assets/images/group/MB1993S.jpg"
              width="610"
              height="336"
              alt="Marching Band"
      /></a>
      <ul class="list-unstyled">
        <li>
          Selections: &ldquo;Think of Me&rdquo;, &ldquo;The Phantom of the Opera
          Theme&rdquo;, &ldquo;Wishing You Were Somehow Here Again&rdquo;,
          &ldquo;Masquerade&rdquo;, &ldquo;The Music of the Night&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Annette Raimann</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Bob Casperson</li>
        <li><strong>Colorguard Instructor:</strong> Claire Emerick</li>
        <li><strong>Drumline Instructor:</strong> ?</li>
        <li><strong>Drill Design:</strong> Bob Buckner</li>
      </ul>
    </div>
  </div>
  <hr />

  <!-- 1992 -->
  <div class="row">
    <div class="col-md-6">
      <h5>1992 - <span class="font-italic">The Beatles</span></h5>
      <ul class="list-unstyled">
        <li>
          Selections: &ldquo;Magical Mystery Tour/Hard Days Night&rdquo;,
          &ldquo;Hey Jude&rdquo;, &ldquo;Eleanor Rigby&rdquo;,
          &ldquo;Yesterday&rdquo;
        </li>
        <li><strong>Drum Major:</strong> Jennifer Goldsmith</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>&nbsp;</h5>
      <ul class="list-unstyled">
        <li><strong>Director:</strong> Bob Casperson</li>
        <li><strong>Colorguard Instructor:</strong> Katie Buelow</li>
        <li><strong>Drumline Instructor:</strong> Mark Brengman</li>
        <li><strong>Drill Design:</strong> ?</li>
        <li>
          Do you have a group picture from this year? Please contact
          <a href="mailto:echandler@seas-school.org"
          >echandler@seas-school.org</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!--        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/group/PhotoComingSoon.jpg" alt="Marching Band" /> </div>-->
</div>
