<!-- middleschool nav -->
 <div class="hhs-upper-nav">
  <div class="container upper-nav-container">
    <div class="row upper-nav-row">
     <div class="d-none d-md-block col-md-4 col-lg-3 upper-nav-column">
        <a id="back-to-band" href="http://band.demo.hastingsbands.org"
          >Visit band.demo.hastingsbands.org</a
        >
        <!--<a id="back-to-band" href="http://hastingsbands.org"
          >Visit hastingsbands.org</a
        >-->
      </div>
      <div class="col-12 col-md-8 col-lg-9 upper-nav-column text-right">
        <a
          href="https://www.accountlinkonline.com/member/"
          data-toggle="tooltip"
          title="Check account balance"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 mr-3"
            src="{{ site.baseurl }}/assets/graphics/logos/ALO3.png"
            alt="ALO Logo"/></a
        ><span class="upper-nav-divider">|</span
        ><a
          href="https://parent.payschools.com/categories.asp?id=A307E027443D4719AE9D5ED265D5682A&"
          data-toggle="tooltip"
          title="Make fee payment"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 mx-3"
            src="{{ site.baseurl }}/assets/graphics/logos/payschools.png"
            alt="PaySchools Logo"/></a
        ><span class="upper-nav-divider">|</span
        ><a
          href="https://hastings.schoology.com/login?&school=230026"
          data-toggle="tooltip"
          title="Get secure documents"
          target="_blank"
          ><img
            class="img-fluid upper-nav-image mb-2 ml-3"
            src="{{ site.baseurl }}/assets/graphics/logos/schoology.png"
            alt="Schoology Logo"
        /></a>
      </div>
    </div>
  </div>
</div>
<nav
  class="navbar navbar-expand-md navbar-light hhs-bg-white hhs-navbar-shadow"
>
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-primary"
      aria-controls="navbar-primary"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand hhs-band-logo" href="{{ site.baseurl }}/">
      <img
        id="logo"
        src="{{ site.baseurl }}/assets/graphics/Hastings-Bands-Blue-Logo-Cropped.png"
      />
    </a>
    <div class="collapse navbar-collapse" id="navbar-primary">
      <ul class="navbar-nav ml-auto mt-2 mt-md-0">
        <span id="aboutmsband">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/">
              About MS Band
            </a>
          </li>
        </span>
         <span id="documents">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/documents/">
              Documents
            </a>
          </li>
        </span>
         <span id="calendar">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/calendar/">
              Calendar
            </a>
          </li>
        </span>
        <span id="ourbands">          
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Our Bands
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ site.baseurl }}/5th">
                5th Grade
              </a>
              <a
                class="dropdown-item"
                href="{{ site.baseurl }}/6th"
              >
                6th Grade
              </a>
              <a
                class="dropdown-item"
                href="{{ site.baseurl }}/7th"
              >
                7th Grade
              </a>              
              <a
                class="dropdown-item"
                href="{{ site.baseurl }}/8th"
              >
                8th Grade
              </a>
              <a
                class="dropdown-item"
                href="{{ site.baseurl }}/jazz"
              >
                Jazz Band
              </a>              
            </div>
          </li>
        </span>  
        <span id="contact">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/contact/">
              Our Directors
            </a>
          </li>
        </span>                                 
        <span id="visit-bands" class="d-sm-block d-md-block d-lg-none">
			<li class="nav-item">
				<a class="nav-link" href="http://band.demo.hastingsbands.org">
				  Visit band.demo.hastingsbands.org
				</a>
				<!--<a class="nav-link" href="http://hastingsbands.org">
				  Visit hastingsbands.org
				</a>-->
			</li>
		  </span>                             
      </ul>
    </div>
  </div>
</nav>
