<div class="ticker-wrapper">
  <div class="ticker">
    <div class="ticker-list">
      {% for item in include.list %}
      <div class="ticker-item">
        <a href="{{ item.href }}" target="_blank">
          {% if item.imgPath %}
          <img src="{{ item.imgPath }}" />
          {% elsif item.text %} {{ item.text }} {% endif %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
