---
title: Percussion Ensemble
---

<div class="container primary-sections" data-page="percussion">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Percussion Ensemble</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <p>Welcome to the redesigned Hastings Bands website!</p>
                <hr />
                <h4>Percussion Ensemble</h4>
                <p>
                    The <strong>Percussions Ensemble</strong> ...
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming Percussion Events</div>
            <div id="upcomingevents" data-calendars='["perc"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
