---
title: Concert Band
---

<div class="container primary-sections" data-page="concert">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Concert Band</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <p>Welcome to the redesigned Hastings Bands website!</p>
                <hr />
                <h4>Concert Band</h4>
                <p>
                    Designed for the advancing high school musician, the
                    <strong>Concert Band</strong> performs intermediate level high
                    school repertoire including traditional, popular and
                    contemporary styles. This non-auditioned group includes ninth
                    through twelfth grade students.
                </p>
                <p>
                    Typically, the Concert Band performs four evening concerts and
                    attends at least one band festival or contest. Students are
                    eligible to participate in the solo and ensemble contest held
                    each year at HHS. Additional course requirements include
                    concerts, lessons, sectionals, written and performance
                    assignments, and graduation band.
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming High School Events</div>
            <div id="upcomingevents" data-calendars='["events"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
