---
title: Wind Ensemble
---

<div class="container primary-sections" data-page="wind">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Wind Ensemble</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <p>Welcome to the redesigned Hastings Bands website!</p>
                <hr />
                <h4>Wind Ensemble</h4>
                <p>
                    Designed for the advanced high school musician, the
                    <strong>Wind Ensemble</strong> is the most selective band at
                    HHS, performing advanced high school and early college level
                    repertoire. Students must audition in order to participate in
                    this ensemble.
                </p>
                <p>
                    Typically, the Wind Ensemble performs four evening concerts and
                    attends numerous band festivals or contests. Private lessons are
                    strongly encouraged and recommended for members of this
                    ensemble. Students are eligible to participate in the solo and
                    ensemble contest held each year at HHS. Additional course
                    requirements include concerts, lessons, sectionals, written and
                    performance assignments, and graduation band.
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming High School Events</div>
            <div id="upcomingevents" data-calendars='["events"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
