---
title: Marching Band Documents
---

<div class="container primary-sections" data-page="documents">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Marching Band
        </a>
      </li>
      <li class="breadcrumb-item active">Documents</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>
          Marching Band Documents
        </h4>
        <span class="font-italic"
        >Please check <a href="https://hastings.schoology.com/login?&school=230026" target="_blank">Schoology</a> for trip/camp information, parade/show itineraries and other secure documents.</span
        >
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>General Information</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2019 MB Parent Info Packet.pdf"
                  target="_blank"
          >
            Parent Handbook
          </a>
          <span class="small font-italic">&nbsp;(rev. 2019)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2017 Marching Band FAQ.pdf"
                  target="_blank"
          >
            Frequently Asked Questions
          </a>
          <span class="small font-italic">&nbsp;(rev. 2017)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Large Band Trailer Towing.pdf"
                  target="_blank"
          >
            Large Band Trailer Towing Recommendations
          </a>
        </li>
      </ul>
      <h5>Required Forms</h5>
      <ul>
        <li>
          <a
                  href="https://goo.gl/forms/wqPcfgmIdljzjHrk2"
                  target="_blank"
          >
            Registration Form - online (rev. 2019)
          </a>
          <span class="small font-italic">&nbsp;(rev. 2018)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2018 MB Parent-Student Agreement.pdf"
                  target="_blank"
          >
            Parent / Student Agreement
          </a>
          <span class="small font-italic">&nbsp;(rev. 2018)</span>
        </li>
        <li>
          <a
                  href="https://goo.gl/forms/oxCrsivR0pRQaHaP2"
                  target="_blank"
          >
            Clothing Order Form - online
          </a>
          <span class="small font-italic">&nbsp;(rev. 2019)</span>
        </li>
      </ul>
      <h5>Forms Requiring Notarization</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HealthForm.pdf"
                  target="_blank"
          >
            Student Health/Medical Consent Form
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/StudentCodeOfConduct.pdf"
                  target="_blank"
          >
            Student Code of Conduct Form
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/PermissionAndLiability.pdf"
                  target="_blank"
          >
            Trip/Camp Liability Waiver/Parental Permission Form
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>Optional Forms</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Marching Band Scholarship Application.pdf"
                  target="_blank"
          >
            Marching Band Scholarship Application
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2018 MB Picture Order Form.pdf"
                  target="_blank"
          >
            Picture Order Form
          </a>
          <span class="small font-italic">&nbsp;(rev. 2018)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Marching Band Jacket.pdf"
                  target="_blank"
          >
            Parent/Booster Jacket Order Form
          </a>
        </li>
      </ul>
      <h5>Rehearsal and Performance Schedules</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2019 PercussionColorguard Training Sessions Schedule.pdf"
                  target="_blank"
          >
            Colorguard Training Sessions Schedule
          </a>
          <span class="small font-italic">&nbsp;(rev. 2019)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2019 PercussionColorguard Training Sessions Schedule.pdf"
                  target="_blank"
          >
            Drumline Training Sessions Schedule
          </a>
          <span class="small font-italic">&nbsp;(rev. 2019)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/2019 MB Calendar 2-4.pdf"
                  target="_blank"
          >
            Full Rehearsal and Performance Schedule
          </a>
          <span class="small font-italic">&nbsp;(updated 2/4/2019)</span>
        </li>
      </ul>
    </div>
  </div>
</div>
