---
title: About Middle School Band
---

<div class="container primary-sections" data-page="aboutmsband">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Middle School Band</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <img
          class="img-fluid mb-2"
          src="{{ site.baseurl }}/assets/images/slide-placeholder.png"
          alt="Placeholder"
        />
	    <h2>Announcements</h2> 
	    <!-- WE Auditions -->
            <!--<p>
              2018/2019 Wind Ensemble Auditions will take place April 11th to
              April 17th. All current 9th through 11th grade HHS band students
              are eligible and encouraged to audition. Any student who wishes to
              be a member of the 2018/2019 Wind Ensemble must audition during
              this time period, including all current Wind Ensemble members. See
              the
              <a
                href="{{ site.baseurl }}/high-school/bands#wind"
                target="_self"
              >
                Wind Ensemble
              </a>
              page for information and audition music
            </p>-->            
            <!-- Pep Band -->
            <!--<p
              Pep band schedule can be found on the
              <a href="{{ site.baseurl }}/high-school/bands#pep" target="_self">
                Pep Band
              </a>
              page
            </p>-->
            <!-- Tour -->
            <!--<p>
              <a href="{{ site.baseurl }}/high-school/tour" target="_self">
                Spring break 2018 tour
              </a>
              has been announced
            </p>-->                        
            <!-- Jazz Auditions -->
	      <p>Jazz auditions will be held after school Sept. 19, 20 & 21st. See the
              <a
                href="{{ site.baseurl }}/high-school/bands#jazz"
                target="_self"
              >
                Jazz Ensemble
              </a>
              page for details</p>
              <p>Daily assignments can be found on
                  <a href="https://www.schoology.com/" target="_blank">
                    Schoology
				  </a></p>
        <hr />
        <h4>The Hastings Middle School Bands</h4>
        <p>Hastings Middle School has an enrollment of approximately 1500 students with 320 students enrolled in our grade level bands and jazz bands. HMS has 5th grade band instrument classes, one 6th grade band, one 7th grade band and one 8th grade band. All of our band classes meet for approximately 48 minutes every other day. Each band performs at 3 concerts during the school year.
          </p>
          <p>
            Students in band may also participate in Jazz Band or Woodwind Ensemble. The HMS Jazz Bands rehearse once a week throughout the year and perform at Jazz Night in April. The Woodwind Ensemble is open to 7th and 8th graders and meets at selected times during the school year.
          </p>
          <p>
            The band directors at HMS are Duane Oldham and Claire Nalven.
          </p>
      </main>
    </div>
    <div class="eventsidebar col-sm-4">
      <div id="upcoming-events-header">Upcoming Events</div>
      <div id="upcomingevents" class="upcoming-events-short" data-calendars='["ms"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>
      
      <a class="nav-rectangle lightbox" href="#" data-url="{{ site.data.videos.recruitment-video }}">
        <div class="photo">
          <div id="video-gallery">
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/video_540x170.png"
            />            
            <div class="details">
              <h3>Recruiting Video</h3>
              <p>View the video</p>
            </div>
          </div>
        </div>
      </a>
      <a class="nav-rectangle" href="{{ site.baseurl }}/tour/">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/show_history_540x150.png"
            />
            <div class="details">
              <h3>Upcoming Tour</h3>
              <p>View photos and information for upcoming band tour</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% include video-lightbox.html %}
