---
title: Middle School Band Directors
---

<div class="container primary-sections" data-page="middleschool">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Home
        </a>
      </li>
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/middle-school">
          Middle School
        </a>
      </li>
      <li class="breadcrumb-item active">Directors &amp; Contact Info</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>Middle School Band Directors</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Duane Oldham</h3>
        <img
          src="{{ site.baseurl }}/assets/graphics/directors/Oldham.jpg"
          width="170"
          height="213"
          border="0"
          class="img-fluid"
        />
        <figcaption>
          <p class="ensembles">
            <em>7th Grade Band, 8th Grade Band and Jazz Band Director</em>
          </p>
          <a href="mailto:doldham@hastings.k12.mn.us">
            doldham@hastings.k12.mn.us
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Duane Oldham</strong> received a Bachelor of Music degree from
      Winona State University and a Master of Music Education degree from the
      University of Wisconsin, Eau Claire. Mr. Oldham currently serves as a band
      director in the Hastings Public School District. Mr. Oldham conducts the
      7th and 8th grade bands and jazz bands at the Hastings Middle School.
      Prior to teaching in Hastings, Mr. Oldham was a band director at New Ulm
      High School.
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <figure class="director-photo">
        <h3>Claire Nalven</h3>
        <img
          src="{{ site.baseurl }}/assets/graphics/directors/Nalven.jpg"
          width="170"
          height="213"
          border="0"
          class="img-fluid"
        />
        <figcaption>
          <p class="ensembles">
            <em>5th Grade and 6th Grade Band Director</em>
          </p>
          <a href="mailto:cnalven@hastings.k12.mn.us">
            cnalven@hastings.k12.mn.us
          </a>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-8 col-lg-9 director-bio">
      <strong>Ms. Nalven</strong> teaches 5th and 6th grade band at Hastings
      Middle School and the Concert and Pep Bands at Hastings High School. She
      has her BM from Northwestern University (Evanston, IL) and her MM from The
      University of Michigan (Ann Arbor, MI). Her degrees are in clarinet
      performance, chamber music and education certification. This is Ms.
      Nalven’s first year in Hastings: prior to this position, she was the
      director of bands at Rockford Middle School in Rockford, MN. When she’s
      not at school, Ms. Nalven has a clarinet studio based in St. Paul and
      works with the Greater Twin Cities Youth Symphonies. She also likes to
      participate in triathlons, cook for friends and walk her dog, Annie.
    </div>
  </div>
</div>
