---
title: About Marching Band
---

<div class="container primary-sections" data-page="aboutmarching">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Marching Band</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <img
          class="img-fluid mb-2"
          src="{{ site.baseurl }}/assets/images/slide-placeholder.png"
          alt="Placeholder"
        />
	    <h2>Season News</h2>
		  <p>To volunteer for 2019 parades or field shows, visit our <a href="https://www.signupgenius.com/go/30e094bada62ca7f94-2019" target="_blank">SignUp Genius</a>
                        page.</p>
		  <p>2020 Summer Trip destination is Walt Disney World!</p>
        <hr />
        <h4>The Hastings Marching Band Program</h4>
        <p>
          The Marching Band Program...
        </p>
        <p>
          The marching band is under the direction of Emily Chandler and Thomas
          Wentzler.
        </p>
      </main>
    </div>
    <div class="eventsidebar col-sm-4">
      <div id="upcoming-events-header">Upcoming Events</div>
      <div id="upcomingevents" class="upcoming-events-short" data-calendars='["mb"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>

      <a class="nav-rectangle lightbox" href="#" data-url="{{ site.data.videos.recruitment-video }}">
        <div class="photo">
          <div id="video-gallery">
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/video_540x170.png"
            />
            <div class="details">
              <h3>Recruiting Video</h3>
              <p>View the video</p>
            </div>
          </div>
        </div>
      </a>
      <a class="nav-rectangle" href="{{ site.baseurl }}/show-history/">
        <div class="photo">
          <div>
            <img
              src="{{ site.baseurl }}/assets/graphics/menus/show_history_540x150.png"
            />
            <div class="details">
              <h3>Show History</h3>
              <p>View photos and show information from previous seasons</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% include video-lightbox.html %}
