---
title: Jazz Ensemble
---

<div class="container primary-sections" data-page="jazz">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Jazz Ensemble</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <p>Welcome to the redesigned Hastings Bands website!</p>
                <hr />
                <h4>Jazz Ensemble</h4>
                <p>
                    Do you like to play a wide variety of music? Do you enjoy travel
                    experiences, including overnight trips? How would you like to
                    learn a truly American art form – Jazz! Our
                    <strong>Jazz Ensemble</strong> program at HHS offers two large
                    Jazz Bands (details below). Each of these bands performs a wide
                    variety of music from jazz standards to recent rock tunes. Both
                    groups perform at HHS and around the community and participate
                    in a major Jazz Festival each year. The Hastings Jazz Ensembles
                    have a long standing tradition of excellence.
                </p>
                <p>
                    Jazz Ensemble, like every co-curricular band ensemble at HHS, is
                    an extension of the curricular bands. Members of our
                    co-curricular ensembles must be enrolled in one of the bands at
                    HHS (exceptions for Jazz are guitar, bass guitar and piano – non
                    band instruments).
                </p>
                <p>
                    <strong>Jazz Ensemble I:</strong> This select group meets two
                    times weekly and has occasional sectional and Combo morning
                    rehearsals. Jazz I rehearses Monday (after school) 2:45 to
                    3:45pm and Thursday (after school) 3:45 to 5:00pm. Auditions for
                    Jazz Ensemble I will be held within the first few weeks of the
                    school year. Standard jazz ensemble instrumentation will be
                    assigned and limited to: piano, electric/string bass or keyboard
                    bass, guitar, drum set, percussion/mallets, 5 saxophones, 5
                    trumpets and 4 trombones. (Activity Fee required)
                </p>
                <p>
                    <strong>Jazz Ensemble II:</strong> This non-auditioned group
                    meets two times weekly. Jazz II rehearses Tuesday (after school)
                    2:45 to 3:45pm and Thursday (after school) 2:45 to 3:30pm. A
                    sign up list for this group will be available following the
                    posting of Jazz I audition results. Standard jazz ensemble
                    instrumentation will include: piano, electric/string bass or
                    keyboard bass, guitar, drum set, percussion/mallets, saxophones,
                    trumpets and trombones/euphoniums. Parts may be doubled if
                    needed. (Activity Fee required)
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming Jazz Ensemble Events</div>
            <div id="upcomingevents" data-calendars='["jazz1","jazz2"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
