---
title: Pep Band
---

<div class="container primary-sections" data-page="pep">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Pep Band</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <a href="{{ site.baseurl }}/assets/documents/pep/Pep Band Schedule 2019.pdf"
                   target="_blank"
                >Pep Band Schedule</a>
                <span class="small font-italic">(updated TBA)</span>
                <hr />
                <h4>Pep Band</h4>
                <p>
                    The Hastings Raiders Winter <strong>Pep Band</strong> offers
                    students the excitement of performing at athletic events during
                    the winter season. The primary role of the pep band is to create
                    enthusiasm and spread school spirit at school activities. Pep
                    Band, like every co-curricular band ensemble at HHS, is an
                    extension of the curricular bands. Members of our co-curricular
                    ensembles must be enrolled in one of the bands at HHS. This
                    ensemble does not require an audition. Students with expertise
                    on all wind instruments and percussion are encouraged to
                    participate.
                </p>
                <p>
                    The pep band plays for wrestling, basketball, and hockey games
                    as well as in school pep fests and coronations. The pep band
                    follows the team into post season play and will perform
                    beginning with section finals. The Pep Band season generally
                    runs from mid December through March, depending on the
                    tournament fortunes of the sports teams.
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming Pep Band Events</div>
            <div id="upcomingevents" data-calendars='["pep"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
