---
title: High School Band Documents
---

<div class="container primary-sections" data-page="documents">
  <div class="row">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          High School Band
        </a>
      </li>
      <li class="breadcrumb-item active">Documents</li>
    </ol>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <div>
        <h4>
          High School Band Documents
        </h4>
        <span class="font-italic"
        >Please check <a href="https://hastings.schoology.com/login?&school=230026" target="_blank">Schoology</a> for daily assignments, music files and other secure documents.</span
        >
        <hr />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>General Information</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/1920 Hastings HS Bands Performance Calendar.pdf"
                  target="_blank"
          >
            Band Handbook
          </a>
          <span class="small font-italic">&nbsp;(rev. 2014)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Grading.pdf"
                  target="_blank"
          >
            Grading
          </a>
          <span class="small font-italic">&nbsp;(rev. 2014)</span>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Lessons.pdf"
                  target="_blank"
          >
            Lessons
          </a>
          <span class="small font-italic">&nbsp;(rev. 2014)</span>
        </li>
      </ul>
      <h5>Performance Information</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/Concert AttireAttendance.pdf"
                  target="_blank"
          >
            Performance Attire &amp Attendance
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/1920 Hastings HS Bands Performance Calendar.pdf"
                  target="_blank"
          >
            Performance Schedule
          </a>
          <span class="small font-italic">&nbsp;(updated 8/26/2019)</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5>Lists and Forms</h5>
      <ul>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HHS Band Lesson Books.pdf"
                  target="_blank"
          >
            Band Lesson Books
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HHS Band Supply List.pdf"
                  target="_blank"
          >
            Band Supply List
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HHSBand Letter Form.pdf"
                  target="_blank"
          >
            Band Letter Form
          </a>
        </li>
        <li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HHS Challenge Form.pdf"
                  target="_blank"
          >
            Challenge Form
          </a>
        </li>
        <li>Private Lessons Verfication Forms<ul><li>
          <a
                  href="{{ site.baseurl }}/assets/documents/HHS Beg of Semester Verification.pdf"
                  target="_blank"
          >
            BEGINNING of Semester
          </a>
        </li>
          <li>
            <a
                    href="{{ site.baseurl }}/assets/documents/HHS End of Semester Verification.pdf"
                    target="_blank"
            >
              END of Semester
            </a>
          </li></ul>
        </li>
      </ul>
    </div>
  </div>
</div>
