---
title: Jazz Band
---

<div class="container primary-sections" data-page="jazz">
  <div class="row">
  <ol class="breadcrumb">
  <li class="breadcrumb-item">
        <a href="{{ site.baseurl }}/">
          Middle School Band
        </a>
      </li>     
      <li class="breadcrumb-item active">Jazz Band</li>
    </ol>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <main class="content">
        <h2>Announcements</h2>
        <p>Welcome to the redesigned Hastings Bands website!</p>
        <hr />
        <h4>Jazz Band</h4>
       <p>Hastings Middle School offers Jazz Band to students in grade 6, 7 and 8.
              </p>
              <p>
                Jazz Ensemble, like every co-curricular band ensemble at HHS, is
                an extension of the curricular bands. Members of our
                co-curricular ensembles must be enrolled in one of the bands at
                HHS (exceptions for Jazz are guitar, bass guitar and piano – non
                band instruments).
              </p>
              <p>
                Jazz Band meets once a week on Wednesday. The schedule rotates throughout the school day with some rehearsals before school at 7:15.
              </p>
              <p>
               The 8th grade Jazz Band performs with the HHS Jazz Bands once a year and all jazz bands perform at the annual Jazz Night in April.
              </p>
		  <p>This activity is extra-curricular and students must be in the curricular bands to be part of Jazz Band.</p>
      </main>
    </div>
    <div class="eventsidebar col-sm-4">
      <div id="upcoming-events-header">Upcoming Middle School Events</div>
      <div id="upcomingevents" data-calendars='["ms"]' data-slide-items="9">
        <ul class="demo2" id="events-list"></ul>
      </div>
    </div>
  </div>
</div>
