---
title: Varsity Band
---

<div class="container primary-sections" data-page="varsity">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ site.baseurl }}/">
                    High School Band
                </a>
            </li>
            <li class="breadcrumb-item active">Varsity Band</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <main class="content">
                <h2>Announcements</h2>
                <p><a href="{{ site.baseurl }}/assets/documents/vb/1920 Third Hour Instrumental Rehearsal Schedule.pdf"
                      target="_blank"
                >Rehearsal Schedule</a>
                    <span class="small font-italic">(updated TBA)</span></p>
                <hr />
                <h4>Varsity Band</h4>
                <p>
                    Designed for the ninth grade musician, the
                    <strong>Varsity Band</strong> performs intermediate level high
                    school repertoire including traditional, popular and
                    contemporary styles. Varsity Band is a non-auditioned group and
                    only ninth grade students who wish to participate in
                    <strong>both band and choir</strong> should register for this
                    band.
                </p>
                <p>
                    Typically, the Varsity Band performs four evening concerts and
                    attends at least one band festival or contest. Students are
                    eligible to participate in the solo and ensemble contest held
                    each year at HHS.Additional course requirements include
                    concerts, lessons, sectionals, written & performance assignments
                    and graduation band.
                </p>
            </main>
        </div>
        <div class="eventsidebar col-sm-4">
            <div id="upcoming-events-header">Upcoming High School Events</div>
            <div id="upcomingevents" data-calendars='["events"]' data-slide-items="9">
                <ul class="demo2" id="events-list"></ul>
            </div>
        </div>
    </div>
</div>
